{% extends 'base.html' %}

{% block titulo %} {{ titulo }} {% endblock %}

{% block contenido %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% if not request.session.usuario_actual %}
<div class="w3-red">
  adasdas
</div>
{% endif %}
<div class="w3-blue">
  {{ request.session.usuario_actual }}
</div>


<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-col" style="max-width:20vw">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="https://picsum.photos/128/128/?grayscale" style="width:100%" alt="Avatar">
          <div class="w3-container w3-text-black">
            <h2>{{usuario.nombre}}</h2>
          </div>
        </div>
        <div class="w3-container">
          {% if request.session.usuario_actual and request.session.usuario_actual.id == usuario.id %}
          <p>
            <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>
            {{usuario.email}}
          </p>
          {% endif %}
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Registro: {{usuario.fecha_creacion}}</p>
          <p>
            <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>
            Ultimo login:
            {% if usuario.ultimo_login %}
              {{usuario.ultimo_login}}
            {% else %}
              Nunca
            {% endif %}
          </p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Cantidad de reseñas: XXX</p>

        </div>
      </div><br>
    <button class="w3-button w3-teal w3-round" style="width:100%">Ver todas las reseñas</button>
    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-rest">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16">
          <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Ultimas reseñas
        </h2>

        <ul class="w3-ul">
          <li>
            <div class="w3-bar">
              <img src="https://picsum.photos/80/80" class="w3-bar-item w3-circle" style="width:85px">
            <div class="w3-bar-item">
              <span class="w3-large">Podría ser peor, pero no mucho</span><br>
              <span>⭐⭐</span>
            </div>
            </div>
            <p>
              Compré este producto con la esperanza de mejorar mi vida pero ahora solo sirve como un tema de conversación
              para las visitas y hace ruidos raros cuando lo enciendo. Lo único que ha mejorado es mi habilidad para
              fingir que me gusta. Por lo menos no explotó... todavia.
            </p>
          </li>

          <li>
            <div class="w3-bar">
              <img src="https://picsum.photos/80/80" class="w3-bar-item w3-circle" style="width:85px">
            <div class="w3-bar-item">
              <span class="w3-large">Podría ser peor, pero no mucho</span><br>
              <span>⭐⭐</span>
            </div>
            </div>
            <p>
              Compré este producto con la esperanza de mejorar mi vida pero ahora solo sirve como un tema de conversación
              para las visitas y hace ruidos raros cuando lo enciendo. Lo único que ha mejorado es mi habilidad para
              fingir que me gusta. Por lo menos no explotó... todavia.
            </p>
          </li>

          <li>
            <div class="w3-bar">
              <img src="https://picsum.photos/80/80" class="w3-bar-item w3-circle" style="width:85px">
            <div class="w3-bar-item">
              <span class="w3-large">Podría ser peor, pero no mucho</span><br>
              <span>⭐⭐</span>
            </div>
            </div>
            <p>
              Compré este producto con la esperanza de mejorar mi vida pero ahora solo sirve como un tema de conversación
              para las visitas y hace ruidos raros cuando lo enciendo. Lo único que ha mejorado es mi habilidad para
              fingir que me gusta. Por lo menos no explotó... todavia.
            </p>
          </li>

        </ul>






      </div>



    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
{% endblock %}