{% extends 'base.html' %}

{% block titulo %} {{ titulo }} {% endblock %}

{% block contenido %}


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const cantidad_indices = "{{cantidad_indices}}";
    let indice_actual = 1;
    const indices = document.getElementById('indices');
    const containerPrincipal = document.getElementById('containerPrincipal');
    const selectOrden = document.getElementById('orden-filtro');

    function generarIndices(siguiente, inicio){
      if (siguiente && !inicio) {
        if (indice_actual != cantidad_indices) {
          indice_actual++;
        }
      }
      else if (!inicio) {
        if (indice_actual != 1) {
          indice_actual--;
        }
      }
      actualizarLista()
      console.log(indice_actual)
      indices.innerHTML = '';
      

      const lateralIzquierdo = document.createElement('a');
      lateralIzquierdo.innerHTML = `«`;
      lateralIzquierdo.classList.add('w3-bar-item', 'w3-button', 'w3-hover-black');
      lateralIzquierdo.addEventListener('click', function(event) {
        event.preventDefault();
        generarIndices(false);
      });

      indices.appendChild(lateralIzquierdo);

      for (let x = 1; x <= cantidad_indices; x++) {
        const elemento = document.createElement('a');
        elemento.innerHTML = `${x}`;
        elemento.classList.add('w3-bar-item', 'w3-button');
        if (indice_actual == x) {
          elemento.classList.add('w3-black');
        }
        else {
          elemento.classList.add('w3-hover-black');
        }
        indices.appendChild(elemento);
      }

      const lateralDerecho = document.createElement('a');
      lateralDerecho.innerHTML = `»`;
      lateralDerecho.classList.add('w3-bar-item', 'w3-button', 'w3-hover-black');
      lateralDerecho.addEventListener('click', function(event) {
        event.preventDefault();
        generarIndices(true);
      });
      indices.appendChild(lateralDerecho);

      


    }

    //indices.innerHTML = '';
    generarIndices(true, true);

    selectOrden.addEventListener('change', function() {
      const orden = this.value;
      aplicarFiltro(orden);
    });

    function actualizarLista() {
      const url = `http://127.0.0.1:8000/producto/api/${indice_actual}/asd`; //${<str:filtro>}

      fetch(url)
      .then(response => {
        if (!response.ok) {
          throw new Error('Error en la respuesta de la API');
        }
        return response.json();
      })
      .then(data => {
        containerPrincipal.innerHTML = '';
        let x = 0;
        data.forEach(actual => {
          const elemento = document.createElement('div');
          elemento.classList.add('w3-quarter', 'w3-container', 'w3-margin-bottom');
          elemento.innerHTML =
          `
          <a href='info/${actual._slug}' style='text-decoration: none;'>
          <img src="https://picsum.photos/256/256/?grayscale" alt="Norway" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>${actual._nombre}</b></p>
            </div>
            </a>
          `;
          containerPrincipal.appendChild(elemento);
        })
      })
      /*.then(() => {
        const spans = document.querySelectorAll('.x');

        spans.forEach(actual => {
          const cantidad = parseInt(actual.id, 10);
          actual.innerHTML = '⭐'.repeat(cantidad);
        })
      })*/
    }

  //aplicarFiltro('-_creacion');
  });
</script>















<div class="w3-section">
  {{cantidad_indices}}

  {% comment %} {{productos}} {% endcomment %}

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h2><b>Productos reseñados</b></h2>
    <div class="w3-section w3-bottombar w3-padding-16">
      <span class="w3-margin-right">Categorias:</span>
      <button class="w3-button w3-black">Todo</button>
      <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Electronica</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Comida</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Ropa</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Libros</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Jueguetes</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Hogar</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Otros</button>
    </div>
    </div>
  </header>

  <div id='containerPrincipal'>

  </div>

  <!-- First Grid-->
  <div class="w3-row-padding">
    {% for i in '01'|make_list %}
      {% comment %} {{ forloop.counter }} {% endcomment %}
      {% comment %} {% if forloop.counter == 2 %}
        <b>HOLA</b>
      {% endif %} {% endcomment %}

      {% comment %} {% for i in '0123'|make_list %}
        <div class="w3-quarter w3-container w3-margin-bottom">
          <img src="https://picsum.photos/256/256/?grayscale" alt="Norway" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b></b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          </div>
        </div>
      {% endfor %} {% endcomment %}


    {% endfor %}

    {% comment %} 
    
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    
    {% endcomment %}
    
  </div>

  {% comment %} <!-- Second Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/w3images/p1.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/w3images/p2.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/w3images/p3.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
  </div> {% endcomment %}

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div id='indices' class="w3-bar">
      {% comment %} <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a> {% endcomment %}
    </div>
  </div>
</div>
{% endblock %}
