{% extends 'base.html' %}

{% block titulo %} {{ titulo }} {% endblock %}

{% block contenido %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const productoId = "{{producto.id}}";
    const resenasContainer = document.getElementById('lista_resennas');
    const selectOrden = document.getElementById('orden-filtro');

    selectOrden.addEventListener('change', function() {
      const orden = this.value;
      aplicarFiltro(orden);
    });

    function aplicarFiltro(orden) {
      const url = `http://127.0.0.1:8000/producto/api/${productoId}/5/${orden}`;

      fetch(url)
      .then(response => {
        if (!response.ok) {
          throw new Error('Error en la respuesta de la API');
        }
        return response.json();
      })
      .then(data => {
        resenasContainer.innerHTML = '';
        data.forEach(actual => {
          const elemento = document.createElement('li');
          elemento.innerHTML =
          `
          <div class="w3-bar">
              <div class="w3-bar-item">
                <span class="w3-large">${actual._titulo}</span><br>
                <span id='${actual._puntuacion}' class='x'>
                </span>
              </div>
              <p class="w3-bar-item">
                ${actual._comentario}
              </p>
              <span class="w3-bar-item w3-right">
                Reseña hecha por: <a href="/usuario/perfil/${actual._usuario___slug}">${actual._usuario___nombre}</a>
              </span>
            </div>
          `;
          resenasContainer.appendChild(elemento);
        })
      })
      .then(() => {
        const spans = document.querySelectorAll('.x');

        spans.forEach(actual => {
          const cantidad = parseInt(actual.id, 10);
          actual.innerHTML = '⭐'.repeat(cantidad);
        })
      })
    }

  aplicarFiltro('-_creacion');
  });
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <div class="w3-row-padding">
    <div class="w3-col w3-quarter">
      <a href='/producto/crear/resena/{{producto.slug}}' class="w3-button w3-teal w3-round w3-margin-bottom" style="width:100%">Crear my reseña</a>

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <div class="w3-display-topright w3-margin w3-white w3-padding-small w3-tiny">Promedio: {{ promedio }}⭐</div>
          <img src="https://picsum.photos/128/128/?grayscale" style="width:100%" alt="Avatar">

        </div>
        <div class="w3-container w3-text-black">
            <h4>{{producto.nombre}}</h4>
          </div>
        <div class="w3-container">
          <p>
            <i class="fa fa-industry fa-fw w3-margin-right w3-large w3-text-teal"></i>
            Fabricante: {{ producto.fabricante }}
          </p>
          <p>
            <i class="fa fa-money fa-fw w3-margin-right w3-large w3-text-teal"></i>
            Precio: ${{ producto.precio }}</p>
          <p>
            <i class="fa fa-tag fa-fw w3-margin-right w3-large w3-text-teal"></i>
            {{ producto.categoria }}
          </p>
          <p>
            <i class="fa fa-comment fa-fw w3-margin-right w3-large w3-text-teal"></i>
            Cantidad de reseñas: {{ cantidad_resennas }}
          </p>


        </div>
      </div><br>
      <button class="w3-button w3-teal w3-round w3-margin-bottom" style="width:100%">Ver todas las reseñas</button>
    </div>

    <div class="w3-rest">
      <div class="w3-container w3-margin-bottom">
        <span class="w3-text">Filtrar por:</span>
        <select id="orden-filtro" class="w3-select">
          <option value="-_creacion" selected>Mas nuevo</option>
          <option value="_creacion">Mas viejo</option>
          <option value="-_puntuacion">Puntuacion mas alta</option>
          <option value="_puntuacion">Puntuacion mas baja</option>
        </select>
      </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16">
          <i class="fa fa-pencil fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Ultimas reseñas
        </h2>

        <ul id="lista_resennas" class="w3-ul">
          {% for actual in resennas %}
          <li>
            <div class="w3-bar">
              <div class="w3-bar-item">
                <span class="w3-large">Podría ser peor, pero no mucho</span><br>
                <span>
                  {% for x in actual.obtener_rango %}
                  ⭐
                  {% endfor %}
                </span>
              </div>
              <p class="w3-bar-item">
                {{ actual.comentario }}
              </p>
              <span class="w3-bar-item w3-right">
                Reseña hecha por: <a href="/usuario/perfil/{{ actual.usuario.slug }}">{{ actual.usuario.get_nombre }}</a>
              </span>
            </div>
          </li>

          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}